body {
    margin: 0;
}
nav ul {
    display: flex;
    gap: 2rem;
}
li{
    list-style-type: none;
}
.btn {
    color: blue;
}

header {
    display: flex;
    align-items: center;
   justify-content: space-between;
}

.head {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hero h1 {
    color: white;
    font-family: DM Sans;
    text-align: left;
}

.heroForm {
    padding-top: 7rem;
}
.heroBtn {
display: flex;
align-items: center;
}
.heroText { 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container {
 background: linear-gradient(216.04deg, #27C0EF 13.84%, #00A8DB 83.53%);
 margin-bottom: 7rem;
}

.feature {
    display: flex;
    gap: 5rem;
    align-items: center;
    padding-left: 5rem;
}
.featureimg {
    background-image: url(/Vector\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.feature2 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.featureimg2 {
    padding-top: 2rem;
}

.heroImage img {
    width: 100%;
    margin-bottom: -4rem;
}
.Learn {
    color: #04AADD;
    font-family: DM Sans;
   font-size: 16px;
   font-weight: 700;
   line-height: 20.83px;
  text-align: left;
}
.featuretext h1{
    color: #034D82;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
   line-height: 52px;
   letter-spacing: 0.30000001192092896px;
   text-align: left;
}

.featuretext p {
    color: #90A3B4;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;

}
.Learn {
    color: #04AADD;
}

.contentgroup1 {
    background-image: url(/Rectangle\ 19.png);
}

.contentgroup2 {
    background-image: url(/Rectangle\ 19.png);
}

.contentgroup3 {
    background-image: url(/Rectangle\ 19.png);
}

.contentgroup4 {
    background-image: url(/Rectangle\ 19.png);
}
.content {
    background: #EFFBFF;
}
.contentgroup{
    display: flex;
    gap: 3rem;
    justify-content: center;
}
.bodycontent h1{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.30000001192092896px;
     text-align: center;
    color: #034D82;
}

.bodycontent p {
    color: #8EA9C1;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
}
.column2{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.column3 {
    display: flex;
    align-items: center;
}

.columnsymbol {
    color: #034D82;
}

.column {
    color: #034D82;
}
.context {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Growth {
    background-image: url(/Mask\ Group.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    align-content: center;
}

.icons {
    display: flex;
    align-items: center;
}
.footcontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.foot {
    list-style: none;
    align-items: center;
}

.footand {
    list-style: none;
}
.foothand {
    list-style: none;
    align-items: center;
}
.foothander{
    list-style: none;
}
.footer {
    background-color:#081315;
}

.copyright {
    color: white;
}

.network {
    padding-left: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-content: center;
}