body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav ul {
    display: flex;
    gap: 2rem;
    color: #FFFFFF;
}
li{
    list-style-type: none;
}

.btn button {
    background-color: #034D82;
    border: 0;
    padding: 10px 15px 10px 15px;
    color: white;
}
header {
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding: 0 5rem 0 5rem;
}


.head {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hero h1 {
    color: white;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 40px;
    width: auto;
}
.heroin3 h1 {
    letter-spacing: normal;
    font-weight: 600;
    font-size: 64px;
    font-family: sans-serif;
    width: 79%;
    margin: 0;
}
.heroine p {
    color: #FFFFFF;
    width: 65%;
    font-size: 16px;
    line-height: 26px;
}
/* .hero img {
    padding-top: -7rem;
} */
.heroBtn {
display: flex;
align-items: center;
gap: 2rem;
}
.heroin img {
    width: 70%;
}
.heroin {
    width :50%;
    line-height: 0;
}

.heroForm { 
    display: flex; 
    justify-content: space-between;
    /* padding-bottom: -6rem; */
    padding-left: 5rem;
    padding-top: 10rem;
}



.headerHero {
 background: linear-gradient(216.04deg, #27C0EF 13.84%, #00A8DB 83.53%);
 padding-top: 2rem;
 padding-left: 2rem;
}

.feature {
    display: flex;
    gap: 4rem;
    align-items: center;
    padding-left: 5rem;
}
.featureimg {
    background-image: url(/Vector\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    margin: auto;
    padding-bottom: 4rem;
}
.featureimg img {
    width: 90%;
}
.featuretext2 h1 {
    color: #034D82;
    font-family: DM Sans;
   font-size: 36px;
   font-weight: 700;
  line-height: 52px;
 letter-spacing: 0.30000001192092896px;
 text-align: left;
 width: 70%;
}

.featuretext2 p {
    color: #90A3B4;
    font-family: DM Sans;
   font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  width: 70%;
}
.colimg img {
    width :100%;
}
.feature2 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.featureimg2 {
    padding-top: 2rem;
}
.featurelist img {
    width: 100;
}
.featurelist{
    width:60%;
}
.featureimg2 img{
    width: 80%;
}

.heroImage img {
    width: 100%;
    /* margin-bottom: -4rem; */
}
.heroImage {
    width: 50%;
}
.hero {
    width: 50%;
}
.Learn {
    color: #04AADD;
    font-family: DM Sans;
   font-size: 16px;
   font-weight: 700;
   line-height: 20.83px;
  text-align: left;
}
.featuretext h1{
    color: #034D82;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
   line-height: 52px;
   letter-spacing: 0.30000001192092896px;
   text-align: left;
   width: 50%;
}

.featuretext p {
    color: #90A3B4;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    width: 50%;

}
.Learn p {
    color: #04AADD;
}

.contentimage {
    width: auto;
    margin: auto;
    padding-right: 3rem;

}
.contentimage img {
    width: 90%;
    margin: auto;
}
.content {
    background: #EFFBFF;
}
.bodycontent h1{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.30000001192092896px;
     text-align: center;
    color: #034D82;
}

.bodycontent p {
    color: #8EA9C1;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
}
.column2{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.column3 {
    display: flex;
    align-items: center;
}
.columntext2 {
    width: auto;
    margin: auto;
}
.columnsymbol {
    width: auto;
}
.columnsymbol img {
    width: 100%;
}
.hexano p {
    width: auto;
}

.column {
    color: #034D82;
    font-weight: 700;}
.context {
    display: flex;
    align-items: center;
    padding: 3rem 3rem 5rem 3rem;
    justify-content: space-between;
    gap: 0rem;
}
.Growth {
    display: flex;
  background: linear-gradient(270.04deg, #01B8D9 0.05%, #24CEED 97.84%);
    border: 4px solid #FFFFFF;
    align-items: center;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 2rem;
    margin-bottom: 2rem; 
    margin-left: 3rem;
    margin-right: 3rem;
    color: #FFFFFF;
    justify-content: space-between;
    border-radius: 1rem;
}

.brandbtn {
    background-image: url(/Group\ 42\ \(1\).png);
}
.brandbtn button {
    background-color: white;
    color: #01B8D9;
    margin: auto;
    padding: 1rem,1rem,1rem,1rem;
}

.icons {
    display: flex;
    align-items: center;
}
.footcontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.foot ul {
    list-style: none;
}

.foot h3 {
    font-family: DM Sans;
 font-size: 18px;
 font-weight: 700;
 line-height: 23.44px;
}


li{
    list-style: none;
}

.footer {
    background-color:#081315;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.copyright {
    color: white;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
}

.network {
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.network img {
    width: 100%;
}
.hexan {
    width: auto;
}
.hexan button {
    margin: auto;
    width: auto;
    color: #01B8D9;
    padding: 1rem  1rem 1rem 1rem;
    border-radius: 4px;
    border: 0;
}


@media  screen and (max-width:768px){
    nav ul {
        gap: 0.5rem
    }
   .hero h1 {
        font-weight: 400;
        font-size: 30px;
        width: 50%;
    }
    .brandbtn button {
        padding: 1rem,0rem,1rem,0rem;
    }
    .contentimage img {
        width: 100%;
    }
    .featuretext p {
        font-size: none;
        font-weight: 300;
        line-height: none;
        letter-spacing: none;
    }
    .featureimg {
        width: 80%;
    }
    .featureimg img {
        width: 100%;
    }
    .feature {
        gap: 3rem;
    }
    .network {
        width: 65%;
    }
    .context {
        gap:3rem;
    }
    .colimg img {
        width: 60%;
    }
    .columntext2 {
        width: 60%;
        margin: auto;
    }
    .featuretext2 p {
        width:auto;
    }
    .featuretext2 h1 {
        width: 90%;
    }
    .featuretext h1 {
        width: 80%;
        font-weight: 600;
    }
    .featuretext p {
        width: 100%;
    }
    

}


@media  screen and (max-width:1024px){
    .heroin3 h1 {
        width: 65%;
    }
    .heroine p {
        width: 80%;
    }
    .hexano p {
        width: 100%;
    }

}

 
@media  screen and (max-width:425px) {
    .heroin3 h1 {
    width: 60%;
    font-size: 400;
    }
    .heroine p {
        width: 100%;
        font-weight: 300;
    }
    .hexan {
        width: 60%;
    }
    .hexan button {
        width: 60%;
    }

    nav{
        display: none;
    }
    header {
        display: block;
    }
    .btn {
        display: none;
    }
 .footcontainer {
    display: block;
 }
 .Growth {
    display: block;
 }
 .feature {
    display: block;
 }
 .feature2 {
    display: block;
 }
 .heroForm {
    display: block;
 }
 .context {
    display: block;
 }
 .heroBtn {
    display: block;
 }
}

@media screen and (max-width:375px) {
    .heroin3 h1 {
        width: 60%;
        font-size: 400;
        }
        .heroine p {
            width: 100%;
            font-weight: 300;
        }
        .hexan {
            width: 60%;
        }
        .hexan button {
            width: 60%;
        }
    
        nav{
            display: none;
        }
        header {
            display: block;
        }
        .btn {
            display: none;
        }
     .footcontainer {
        display: block;
     }
     .Growth {
        display: block;
     }
     .feature {
        display: block;
     }
     .feature2 {
        display: block;
     }
     .heroForm {
        display: block;
     }
     .context {
        display: block;
     }
     .heroBtn {
        display: block;
     }
     .featuretext h1 {
        width:100%;
        font-size: 27px;
     }  
}